<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/easyui/themes/bootstrap/easyui.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/easyui/themes/icon.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.easyui.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/utils.js')}}"></script>
<script>
    var default_page_size = 13;
    var default_page_number = 1;
    if ($.fn.pagination){
        $.fn.pagination.defaults.beforePageText = '第';
        $.fn.pagination.defaults.afterPageText = '共{pages}页';
        $.fn.pagination.defaults.displayMsg = '显示{from}到{to},共{total}记录';
    }
    if ($.fn.datagrid){
        $.fn.datagrid.defaults.loadMsg = '正在处理，请稍待。。。';
        $.fn.datagrid.defaults.beforePageText = '第';
        $.fn.datagrid.defaults.afterPageText = '页 共{pages}页';
        $.fn.datagrid.defaults.displayMsg = '显示{from}到{to},共{total}条记录';
    }
    if ($.fn.treegrid && $.fn.datagrid){
        $.fn.treegrid.defaults.loadMsg = $.fn.datagrid.defaults.loadMsg;
    }
    if ($.messager){
        $.messager.defaults.ok = '确定';
        $.messager.defaults.cancel = '取消';
    }
    if ($.fn.validatebox){
        $.fn.validatebox.defaults.missingMessage = '该输入项为必输项';
        $.fn.validatebox.defaults.rules.email.message = '请输入有效的电子邮件地址';
        $.fn.validatebox.defaults.rules.url.message = '请输入有效的URL地址';
        $.fn.validatebox.defaults.rules.length.message = '输入内容长度必须介于{0}和{1}之间';
        $.fn.validatebox.defaults.rules.remote.message = '请修正该字段';
    }
    $.fn.tree.defaults.loadFilter = function (data, parent) {
        var opt = $(this).data().tree.options;
        var idFiled,
        textFiled,
        parentField;
        if (opt.parentField) {
            idFiled = opt.idFiled || 'id';
            textFiled = opt.textFiled || 'text';
            parentField = opt.parentField;
            var i,l,treeData = [],tmpMap = [];
            for (i = 0, l = data.length; i < l; i++) {
                tmpMap[data[i][idFiled]] = data[i];
            }
            for (i = 0, l = data.length; i < l; i++) {
                if (tmpMap[data[i][parentField]] && data[i][idFiled] != data[i][parentField]) {
                    if (!tmpMap[data[i][parentField]]['children'])
                        tmpMap[data[i][parentField]]['children'] = [];
                    data[i]['text'] = data[i][textFiled];
                    tmpMap[data[i][parentField]]['children'].push(data[i]);
                } else {
                    data[i]['text'] = data[i][textFiled];
                    treeData.push(data[i]);
                }
            }
            return treeData;
        }
        return data;
    };
</script>