<form id="rel_add_form" method="post">
    <div style="padding:7px 0 5px 50px;height:auto;">
        名称:<font color="red"> [{{ bom_input["bom_name"] }}]</font>,
        编码:<font color="red">[{{ bom_input["bom_code"] }}]</font>,
    </div>
    <input type="hidden" name="bom_name" value="{{ bom_input["bom_name"] }}">
    <input type="hidden" name="bom_code" value="{{ bom_input["bom_code"] }}">
    <hr/>
    <div style="padding:7px 0 5px 50px;height:auto;">
        选择层次:
        <SELECT id="com_rate_add" name="com_rate_add" class="easyui-combobox" style="width:180px">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </SELECT>
    </div>
    <div style="padding:7px 0 5px 50px;height:auto;">
        选择组件:
        <SELECT id="com_code_add" name="com_code_add" class="easyui-combobox" style="width:180px"
                data-options="valueField:'id', textField:'text', panelHeight:'auto', editable:false">
        </SELECT>
    </div>
    <hr/>
    <div style="padding:7px 0 5px 50px;height:auto;">
        组件名称:
        <input class="easyui-textbox" style="width:180px"
             id="com_name_add_form" name="com_name_add_form" />
	</div>
    <div style="padding:7px 0 5px 50px;height:auto;">
        组件单位: <input class="easyui-textbox" style="width:180px"
             id="com_unit_add_form" name="com_unit_add_form" />
	</div>
    <div style="padding:7px 0 5px 50px;height:auto;">
        组件单价: <input class="easyui-numberbox" style="width:180px" data-options="min:0,precision:2"
             id="com_unit_price_add_form" name="com_unit_price_add_form" />
	</div>
    <hr/>
    <div style="padding:7px 0 5px 50px;height:auto;">
        组件数量:
        <input class="easyui-numberbox" style="width:180px" data-options="min:0,precision:2"
             id="com_cnt_add_form" name="com_cnt_add_form"
             required="true" missingMessage="物资单价-非空数字" value="1.0"/>
	</div>
</form>
<script>
    $("#com_rate_add").combobox({
        onSelect: function (opt) {
            fill_com_code(opt.value);
        }
    });

    function fill_com_code(com_rate){
        $.ajax({ // Ajax调用处理
           type: "POST",
           url: urls.get_composite_by_rate,
           data: {"bom_rate":com_rate},
           dataType: "json",
           success: function(json_data){
               $('#com_code_add').empty();
               var data = [];
               var first_id ;
               $(json_data).each(function(i, e){
                   data.push({ "text": e.bom_name, "id": e.bom_code });
                   if(i ===0){
                       first_id = e.bom_code ;
                   }
               }); // end of $(json_data).each(function(i, e){
               $("#com_code_add").combobox("loadData", data);
               $("#com_code_add").combobox("select", first_id);
           } // end of success: function(data){
        }); // end of $.ajax({
    }; // end of function fill_com_code(com_rate){

    $("#com_code_add").combobox({
        onSelect: function (opt) {
            fill_com_info(opt.id);
        }
    });
    function fill_com_info(bom_code){
        $.ajax({ // Ajax调用处理
           type: "POST",
           url: urls.get_by_code,
           data: {"bom_code":bom_code},
           dataType: "json",
           success: function(json_data){
               json_data = json_data[0];
               //设置输入框的值
               $("#com_name_add_form").textbox('setValue',json_data.bom_name);
               $("#com_code_add_form").textbox('setValue',json_data.bom_code);

               $("#com_unit_add_form").textbox('setValue',json_data.bom_unit);
               $("#com_unit_price_add_form").textbox('setValue',json_data.bom_unit_price);

               $("#com_rate_add_form").textbox('setValue',json_data.bom_rate);

           } // end of success: function(data){
        }); // end of $.ajax({
    }; // end of function fill_com_code(com_rate){

</script>
